//https://www.schemecolor.com/sample?getcolor=BFDEC7
//https://nipponcolors.com/#seiheki

$shades9: #39433C;
$shades7: #39433C;
$shades5: #606F64;
$shades3: #869B8B;
$shades1: #ACC8B3;
$shades0: #BFDEC7;

$tints9: #F9FCF9;
$tints7: #ECF5EE;

