.primary800 {
  color: #162141;
}

.primary600 {
  color: #2C4281;
}

.primary500 {
  color: #3C5AAF;
}

.primary400 {
  color: #5F7AC8;
}

.primary350 {
  color: #768DD0;
}

.primary300 {
  color: #8DA0D8;
}

.secondary300 {
  color: #7CD4FD;
}

.secondary400 {
  color: #36BFFA;
}

.secondary500 {
  color: #0AA4E6;
}

.gray900 {
  color: #101828;
}

.gray500 {
  color: #667085;
}

.gray400 {
  color: #98A2B3;
}

.gray300 {
  color: #D0D5DD;
}

.gray200 {
  color: #E4E7EC;
}

.gray100 {
  color: #F2F4F7;
}

.gray25 {
  color: #FCFCFD;
}

.white {
  color: #FFF;
}

.textColorDark {
  color: #101828;
}

.textColorLight {
  color: #FFF;
}

.black {
  color: #000;
}
